################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/APIAuthenticationExample/.vs/APIAuthenticationExample/v14/.suo
