<appSettings file="Deploy\appSettings.config">
  <!--Optional-->
  <add key="webpages:Version" value="3.0.0.0"/>
  <add key="webpages:Enabled" value="false"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

  <!--Required-->
  <add key="ITCLoginServer" value="https://login.test.intelligent-cycling.com/"/>
  <add key="ITCApiServer" value="http://api.test.intelligent-cycling.com/v1/"/>
  <add key="LocalLoginRedirectionPage" value="http://localhost:61457/onlogin"/>
  <add key="AppPublic" value="460d91b4-295a-4c24-a5b0-f7354f988f84"/>
  <add key="AppPrivate" value="c850ad52-d4e0-499e-baf5-6f89b190ada5"/>
</appSettings>